<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jarly.mall.mapper.QuickRegisterMapper">
  <resultMap id="BaseResultMap" type="com.jarly.mall.model.QuickRegister">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="staff_id" jdbcType="BIGINT" property="staffId" />
    <result column="gestation_time" jdbcType="TINYINT" property="gestationTime" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="gestation_type" jdbcType="TINYINT" property="gestationType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, staff_id, gestation_time, create_date, member_id, gestation_type
  </sql>
  <select id="selectByExample" parameterType="com.jarly.mall.model.QuickRegisterExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from quick_register
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from quick_register
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from quick_register
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.jarly.mall.model.QuickRegisterExample">
    delete from quick_register
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jarly.mall.model.QuickRegister">
    insert into quick_register (id, staff_id, gestation_time, 
      create_date, member_id, gestation_type
      )
    values (#{id,jdbcType=BIGINT}, #{staffId,jdbcType=BIGINT}, #{gestationTime,jdbcType=TINYINT}, 
      #{createDate,jdbcType=TIMESTAMP}, #{memberId,jdbcType=BIGINT}, #{gestationType,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jarly.mall.model.QuickRegister">
    insert into quick_register
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="staffId != null">
        staff_id,
      </if>
      <if test="gestationTime != null">
        gestation_time,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="gestationType != null">
        gestation_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="staffId != null">
        #{staffId,jdbcType=BIGINT},
      </if>
      <if test="gestationTime != null">
        #{gestationTime,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="gestationType != null">
        #{gestationType,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jarly.mall.model.QuickRegisterExample" resultType="java.lang.Long">
    select count(*) from quick_register
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update quick_register
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.staffId != null">
        staff_id = #{record.staffId,jdbcType=BIGINT},
      </if>
      <if test="record.gestationTime != null">
        gestation_time = #{record.gestationTime,jdbcType=TINYINT},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.memberId != null">
        member_id = #{record.memberId,jdbcType=BIGINT},
      </if>
      <if test="record.gestationType != null">
        gestation_type = #{record.gestationType,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update quick_register
    set id = #{record.id,jdbcType=BIGINT},
      staff_id = #{record.staffId,jdbcType=BIGINT},
      gestation_time = #{record.gestationTime,jdbcType=TINYINT},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      member_id = #{record.memberId,jdbcType=BIGINT},
      gestation_type = #{record.gestationType,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jarly.mall.model.QuickRegister">
    update quick_register
    <set>
      <if test="staffId != null">
        staff_id = #{staffId,jdbcType=BIGINT},
      </if>
      <if test="gestationTime != null">
        gestation_time = #{gestationTime,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="gestationType != null">
        gestation_type = #{gestationType,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jarly.mall.model.QuickRegister">
    update quick_register
    set staff_id = #{staffId,jdbcType=BIGINT},
      gestation_time = #{gestationTime,jdbcType=TINYINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      member_id = #{memberId,jdbcType=BIGINT},
      gestation_type = #{gestationType,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>